.Button {
  background-color: #09B469;
  border-radius: 0.3rem;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  min-height: 2.5rem;
  min-width: 140px;
  margin: 0 .4rem;
}

.Button:hover {
  background-color: #23CE83;
}

.Button.Small {
  font-weight: 600;
  min-height: 2rem;
  min-width: 80px;
  width: auto;
}

@media (min-width: 768px) {
  .Button {
    min-width: 266px;
    margin: 0 .5rem;
  }

  .Button.Small {
    margin-right: 0;
    margin-left: 1rem;
  }
}